.tl_includes {
    line-height: normal;
}

.tl_content .tl_includes,
.tl_box .tl_includes {
    padding: 5px 6px 5px 3px;
}

.tl_content .tl_includes {
    background-color: rgb(250,250,250);
    transition: background-color 0.1s, color 0.1s;
    border-left: 3px solid rgb(240,240,240);
}

.tl_content:hover .tl_includes,
.tl_box .tl_includes {
    background-color: #3a454d;
    border-left: 3px solid #f47c00;
    color: white;
}

.tl_includes a {
    color: inherit;
}

.tl_includes a:hover {
	color:#77AC45;
}

.tl_includes th {
    font-weight: normal;
	padding-right: 5px;
    text-align: right;
    vertical-align: text-top;
}

.tl_content .tl_includes {
    margin: 12px -6px 8px -6px;
}

.tl_header_table .tl_includes th {
    display: none;
}

.tl_content .tl_includes td.includes ul li {
    line-height: 17px;
}

.tl_content .tl_includes .includes--limit-height ul {
    max-height: 17px;
    padding-bottom: 17px;
    position: relative;
    overflow: hidden;
}

.tl_content .tl_includes .includes--limit-height ul li + li {
    display: none;
}

.tl_content .tl_includes .includes--limit-height ul:after {
    content: '…';
    position: absolute;
    left: 0;
    line-height: 17px;
    bottom: 0;
    display: block;
    float: left;
}

.tl_content .tl_includes .includes--limit-height.show ul {
    max-height: none;
    padding-bottom: 0;
}

.tl_content .tl_includes .includes--limit-height.show ul li + li {
    display: block;
}

.tl_content .tl_includes .includes--limit-height.show ul:after {
    display: none;
}
