services:
  _defaults:
    autoconfigure: true
    public: false

  InspiredMinds\IncludeInfoBundle\Aggregator\IncludesAggregator:
    public: true
    arguments:
      - '@router'
      - '@request_stack'

  InspiredMinds\IncludeInfoBundle\EventListener\HeaderCallbackListener:
    public: true
    arguments:
      - '@InspiredMinds\IncludeInfoBundle\Aggregator\IncludesAggregator'

  InspiredMinds\IncludeInfoBundle\EventListener\ContentChildRecordCallbackListener:
    public: true
    arguments:
      - '@InspiredMinds\IncludeInfoBundle\Aggregator\IncludesAggregator'

  InspiredMinds\IncludeInfoBundle\EventListener\ReplaceInsertTagsListener:
    public: true

  InspiredMinds\IncludeInfoBundle\EventSubscriber\KernelTerminateSubscriber:
    arguments:
      - '@contao.routing.scope_matcher'
      - '@contao.framework'
      - '@database_connection'
      - '@InspiredMinds\IncludeInfoBundle\EventListener\ReplaceInsertTagsListener'
      - '@logger'
