services:
  _defaults:
    autoconfigure: true
    public: false

  InspiredMinds\IncludeInfoBundle\Aggregator\IncludesAggregator:
    public: true
    arguments:
      - '@router'
      - '@request_stack'
      - '@contao.csrf.token_manager'
      - '@database_connection'
      - '@translator'
      - '%contao_include_info.enable_insert_tag_index%'

  InspiredMinds\IncludeInfoBundle\EventListener\HeaderCallbackListener:
    public: true
    arguments:
      - '@InspiredMinds\IncludeInfoBundle\Aggregator\IncludesAggregator'

  InspiredMinds\IncludeInfoBundle\EventListener\ContentChildRecordCallbackListener:
    public: true
    arguments:
      - '@InspiredMinds\IncludeInfoBundle\Aggregator\IncludesAggregator'

  InspiredMinds\IncludeInfoBundle\EventListener\DisableInsertTagIndexListener:
    arguments:
      - '%contao_include_info.enable_insert_tag_index%'

  InspiredMinds\IncludeInfoBundle\EventListener\ReplaceInsertTagsListener:
    public: true

  InspiredMinds\IncludeInfoBundle\EventSubscriber\KernelTerminateSubscriber:
    arguments:
      - '@contao.routing.scope_matcher'
      - '@contao.framework'
      - '@database_connection'
      - '@InspiredMinds\IncludeInfoBundle\EventListener\ReplaceInsertTagsListener'
      - '@?contao.insert_tag.parser'
      - '%contao_include_info.enable_insert_tag_index%'

  InspiredMinds\IncludeInfoBundle\Migration\IndexColumnLengthMigration:
    arguments:
      - '@database_connection'
      - '@contao.framework'
      - '%contao_include_info.enable_insert_tag_index%'
